@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap');

/* General Styles */

* {
  font-family: 'Baloo Chettan 2', cursive, sans-serif;
}

.services {
  color: #9b30ff;
}

.nav-div {
  width: 100vw;
}

.hov-img:hover {
  transform: scale(1.5);
}

/* Typewriter Styles */
.typewriter h1 {
  text-align: center;
}

.type-letter {
  color: white;
}

/* Nav Styles */
.nav-link {
  color: #9b30ff !important;
  font-size: 20px !important;
}

.nav-link:hover {
  text-decoration: underline;
  color: orange !important;
}

.jmbo-style {
  color: white !important;
}

.solid-line {
  background-color: #9b30ff;
  height: 1px;
  border: 0;
  width: 50%;
}

.brand-img {
  display: none;
}

/* Call To Action Styles */

.Call-To-Action {
  height: 13vh;
  width: 90vw;
  background-color: #7851a9;
  display: inline-block;
}

.cont-div {
  text-align: center;
}

.cta-header {
  text-align: center;
  color: white;
}

.cta-btn {
  background-color: orange !important;
  border: 1px solid orange;
  border-radius: 8px;
}

/* Work Components styles */

.working-txt {
  color: white;
}

/* Footer Styles */

.footer-style {
  text-align: center;
  background-color: #343a40;
}

.ul-styles {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style-type: none;
}

/* Contact Form Styles */
.prime-div {
  text-align: center;
}

.sec-div {
  display: inline-block;
}

.email-field {
  width: 250px;
}

.react-field {
  width: 500px;
  height: 150px;
}

/* Mobile Styles */

@media only screen and (max-width: 321px) {
  .Call-To-Action {
    height: 20vh;
    width: 100vw;
    background-color: #7851a9;
    text-align: center;
  }

  .mobile-img {
    width: 100vw;
    height: auto;
  }
}

@media only screen and (max-width: 375px) {
  .Call-To-Action {
    height: 20vh;
    width: 100vw;
    background-color: #7851a9;
    text-align: center;
  }
}

@media only screen and (max-width: 426px) {
  .Call-To-Action {
    height: 20vh;
    width: 100vw;
    background-color: #7851a9;
    text-align: center;
  }
}